html,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

*,
*:hover,
*:focus {
    outline: 0;
}

.transition,
%transition {
    transition: all 0.3s ease-in-out;
}

main>section {
    margin-bottom: 5rem;

    @include media-breakpoint-up(md) {
        margin-bottom: 8rem;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 12rem;
    }
}

p {
    letter-spacing: -0.4px;
}

p.subtitle {
    margin: 0;
}

p.description,
span.description {
    margin: 0;
}

a .hover-round {
    border-radius: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: relative;
}

a:hover .hover-round {
    @include media-breakpoint-up(lg) {
        border-radius: 8rem;
    }
}

picture.object-fit-cover {
    position: relative;
    width: 100%;
    padding-top: 100%;
    display: flex;
}

picture.object-fit-cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.typo-white {

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: #FFFFFF;
    }
}

h1,
.h1 {
    font-size: $h1-font-size;

    @include media-breakpoint-up(lg) {
        font-size: $h1-font-size-lg;
    }
}

h2,
.h2 {
    font-size: $h2-font-size;

    @include media-breakpoint-up(lg) {
        font-size: $h2-font-size-lg;
    }
}

h3,
.h3 {
    font-size: $h3-font-size;

    @include media-breakpoint-up(lg) {
        font-size: $h3-font-size-lg;
    }
}

h4,
.h4 {
    font-size: $h4-font-size;

    @include media-breakpoint-up(lg) {
        font-size: $h4-font-size-lg;
    }
}

h5,
.h5 {
    font-size: $h5-font-size;

    @include media-breakpoint-up(lg) {
        font-size: $h5-font-size-lg;
    }
}

h6,
.h6 {
    font-size: $h6-font-size;

    @include media-breakpoint-up(lg) {
        font-size: $h6-font-size-lg;
    }
}