html,
body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

a,
a:hover,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

*,
*:hover,
*:focus {
    outline: 0;
}

.transition,
%transition {
    transition: all 0.3s ease-in-out;
}

main>section {
    margin-bottom: 8rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 12rem;
    }
}

p.subtitle {
    margin: 0;
}

p.description,
span.description {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
}

a .hover-round {
    border-radius: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

a:hover .hover-round {
    @include media-breakpoint-up(lg) {
        border-radius: 3rem;
    }
}

picture.object-fit-cover {
    position: relative;
    width: 100%;
    padding-top: 100%;
    display: flex;
}

picture.object-fit-cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.typo-white {

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: #FFFFFF;
    }
}