.btn {
    transition: 0.3s ease-out all;
    font-family: $headings-font-family;
}

.btn-primary {
    display: inline-flex;
    align-items: center;
    gap: 2rem;
    transition: all 0.3s ease;
    text-decoration: none;
    color: $body-color;
    background-color: transparent;
    border: none;
    text-transform: uppercase;

    &::before {
        content: '';
        display: block;
        width: 2rem;
        height: 2rem;
        background-color: currentColor;
        mask-image: url('/wp-content/themes/dallamassl/static/img/arrow-right.svg');
        mask-size: contain;
        mask-repeat: no-repeat;
        mask-position: center;
        transition: transform 0.3s ease;
    }

    .h4 {
        margin: 0.5rem 0 0 0;
    }

    &:hover {
        gap: 1.5rem;
        color: $primary;
        background-color: transparent;

        &::before {
            transform: translateX(0.5rem);
        }
    }

    &:active {}
}

.btn-big {
    font-size: 4rem;
    line-height: 1.2;
    text-align: left;
    display: inline-block;

    @include media-breakpoint-up(lg) {
        max-width: 350px;
    }

    &::before {
        display: block;
        float: left;
        height: 3rem;
        width: 3rem;
        margin-top: 3px;
        margin-right: 1rem;
    }
}

.btn-hero,
.btn-secondary,
.btn-overview {

    display: inline-flex;
    background: white;
    color: $primary;
    position: relative;
    min-width: 15rem;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding-right: 3rem;
    align-items: center;

    span {
        left: 0;
        transition: 0.3s ease;
        position: relative;
        display: inline-block;
    }

    &:hover {
        background: white;
        color: $primary;

        span {
            left: 2rem;
        }
    }

    &:active {
        border-color: $secondary !important;
    }

    &::after,
    &::before {
        content: '';
        width: 1.5rem;
        height: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        background-color: $primary;
        -webkit-mask: url('@/icons/arrow.svg') no-repeat center / contain;
        mask: url('@/icons/arrow.svg') no-repeat center / contain;
        transition: all 0.3s ease-out;
    }

    &::before {
        right: auto;
        left: -2rem;
    }

    &:hover::after {
        right: -2rem;
    }

    &:hover::before {
        left: 1rem;
    }

    @include media-breakpoint-down(md) {
        align-self: flex-start;
    }
}

.btn-secondary {
    background: none;
    color: $primary;
    border: none;

    &:hover {
        background: none;
        color: $primary;
    }

    &:active {
        color: $body-color;
    }
}

.btn-overview {
    background: none;
    color: $body-color;
    border: none;
    padding-left: 0;
    width: auto;

    &:hover {
        background: none;
        color: $body-color;

        span {
            left: 3.5rem;
        }
    }

    &:active {
        color: $primary;
    }

    &::after,
    &::before {
        background-color: $body-color;
    }

    span {
        padding-right: 2rem;
    }
}

.btn-tertiary {
    background: none;
    color: $primary;
    border: none;

    &:hover {
        background: none;
        color: $primary;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}