.btn {
    padding: 1.2rem 1.6rem;
    transition: 0.3s ease-out all;
}

.btn-primary {
    background: none;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
        background: $primary;
        color: white;
    }

    &:active {
        background: $primary;
        color: white;
        border-color: $secondary !important;
    }
}

.btn-hero,
.btn-secondary,
.btn-overview {

    display: inline-flex;
    background: white;
    color: $primary;
    position: relative;
    min-width: 15rem;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    padding-right: 3rem;
    align-items: center;

    span {
        left: 0;
        transition: 0.3s ease;
        position: relative;
        display: inline-block;
    }

    &:hover {
        background: white;
        color: $primary;

        span {
            left: 2rem;
        }
    }

    &:active {
        border-color: $secondary !important;
    }

    &::after,
    &::before {
        content: '';
        width: 1.5rem;
        height: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        background-color: $primary;
        -webkit-mask: url('@/icons/arrow.svg') no-repeat center / contain;
        mask: url('@/icons/arrow.svg') no-repeat center / contain;
        transition: all 0.3s ease-out;
    }

    &::before {
        right: auto;
        left: -2rem;
    }

    &:hover::after {
        right: -2rem;
    }

    &:hover::before {
        left: 1rem;
    }

    @include media-breakpoint-down(md) {
        align-self: flex-start;
    }
}

.btn-secondary {
    background: none;
    color: $primary;
    border: none;

    &:hover {
        background: none;
        color: $primary;
    }

    &:active {
        color: $body-color;
    }
}

.btn-overview {
    background: none;
    color: $body-color;
    border: none;
    padding-left: 0;
    width: auto;

    &:hover {
        background: none;
        color: $body-color;

        span {
            left: 3.5rem;
        }
    }

    &:active {
        color: $primary;
    }

    &::after,
    &::before {
        background-color: $body-color;
    }

    span {
        padding-right: 2rem;
    }
}

.btn-tertiary {
    background: none;
    color: $primary;
    border: none;

    &:hover {
        background: none;
        color: $primary;
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}