@font-face {
    font-family: 'NewEdge666';
    src: url('@/fonts/NewEdge666-RegularRounded.woff2') format('woff2'),
        url('@/fonts/NewEdge666-RegularRounded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    text-transform: uppercase;
}