.splide .splide__pagination {
    gap: 0.5rem;
}

.splide .splide__pagination .splide__pagination__page {
    border-radius: 3px;
    height: 3px;
    width: 4rem;
}

.splide .splide__pagination .splide__pagination__page.is-active {
    transform: scale(1);
    opacity: 1;
}