/**
 * Colors
 *
 */

// here the colors

/**
 * Bootstrap customised
 *
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 */
$font-size-root: 62.5%; // 1rem = 10px
$font-size-base: 1.6rem;
$line-height-base: 1.2;
$font-weight-base: 400;
$font-family-sans-serif: 'aptos', "Helvetica Neue", Helvetica, Arial, sans-serif;
$btn-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
$border-radius: .4rem;

$primary: #17500C;
$secondary: #B2CDA6;
$dark-red: #4F1E27;

// fonts
$h1-font-size: 4.8rem;
$h2-font-size: 3.2rem;
$h3-font-size: 2.4rem;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$headings-font-weight: 600;
$headings-line-height: 1.1;

// button
$input-btn-font-size: 1.4rem;
$btn-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-border-radius: 0;
$grid-columns: 12;
$grid-gutter-width: 3rem;
$body-color: $dark-red;
$body-bg: #ffffff;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

$spacers : (0: 0,
    1: 1rem,
    2: 2rem,
    3: 3rem,
    4: 4rem,
    5: 5rem,
    6: 6rem,
    7: 7rem,
    8: 8rem,
    9: 9rem,
    10: 10rem);