/**
 * Colors
 *
 */

// here the colors

/**
 * Bootstrap customised
 *
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 */
$font-size-root: 62.5%; // 1rem = 10px
$font-size-base: 2rem;
$line-height-base: 1.5;
$font-weight-base: 400;
$font-family-sans-serif: 'neue-haas-unica', "Helvetica Neue", Helvetica, Arial, sans-serif;
$headings-font-family: 'NewEdge666', "Helvetica Neue", Helvetica, Arial, sans-serif;
$btn-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
$border-radius: .4rem;

$body-color: #000000;
$body-bg: #ffffff;
$primary: #0C13C8;
$secondary: #E8E8E8;

// fonts
$h1-font-size: 4rem;
$h2-font-size: 6.4rem;
$h3-font-size: 4rem;
$h4-font-size: 2.4rem;
$h5-font-size: 2rem;
$h6-font-size: 1.6rem;
$headings-font-weight: 400;
$headings-line-height: 1.2;

// button
$input-btn-font-size: 1.4rem;
$btn-box-shadow: none;
$btn-active-box-shadow: none;
$btn-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-border-radius: 0;
$grid-columns: 12;
$grid-gutter-width: 3rem;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1500px,
    xxxl: 1850px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1440px,
    xxxl: 1770px
);

$spacers : (0: 0,
    1: 1rem,
    2: 2rem,
    3: 3rem,
    4: 4rem,
    5: 5rem,
    6: 6rem,
    7: 7rem,
    8: 8rem,
    9: 9rem,
    10: 10rem);