.about_section_3 {
    margin-bottom: 5rem;
}

.about-section-3__grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
    padding: 4rem 0;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

// Text Top Left
.about-section-3__text-left {
    grid-column: 2 / 4;
    grid-row: 1;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 4rem;
    }

    p {
        margin: 0;
    }
}

// Medium Image Left (4:5)
.about-section-3__image-left {
    grid-column: 2 / 4;
    grid-row: 2 / 4;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    picture {
        position: relative;
        display: block;
        aspect-ratio: 4 / 5;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Text Bottom Left
.about-section-3__text-bottom {
    grid-column: 4 / 6;
    grid-row: 4;
    align-self: end;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 3rem;
    }

    p {
        margin: 0;
    }
}

// Medium Image Top One (4:5)
.about-section-3__image-top-one {
    grid-column: 6 / 8;
    grid-row: 1 / 3;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    picture {
        position: relative;
        display: block;
        aspect-ratio: 4 / 5;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Medium Image Top Two (4:5)
.about-section-3__image-top-two {
    grid-column: 8 / 10;
    grid-row: 1 / 3;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    picture {
        position: relative;
        display: block;
        aspect-ratio: 4 / 5;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Small Images Bottom Right (Gallery)
.about-section-3__images-small {
    grid-column: 9 / 13;
    grid-row: 4;
    display: flex;
    gap: 2rem;
    align-items: flex-end;

    @include media-breakpoint-down(md) {
        grid-column: 1;
        flex-wrap: wrap;
    }
}

.about-section-3__small-image {
    flex: 1;
    min-width: 0;

    picture {
        position: relative;
        display: block;
        aspect-ratio: 4 / 5;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include media-breakpoint-up(lg) {
        &:nth-of-type(3) {
            margin-left: 25%;
        }
    }
}