.about-section-4__grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
    padding: 4rem 0;
    position: relative;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

// Moodtext/Headline (Left)
.about-section-4__moodtext {
    grid-column: 2 / 8;
    grid-row: 2;
    z-index: 2;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    h2 {
        margin: 0;
    }
}

// Large Image Center (1:1)
.about-section-4__image {
    grid-column: 4 / 10;
    grid-row: 1 / 4;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    picture {
        position: relative;
        display: block;
        aspect-ratio: 1 / 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Small Text Right
.about-section-4__text-right {
    grid-column: 11 / 13;
    grid-row: 1;
    align-self: start;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    @include media-breakpoint-up(lg) {
        margin-top: 10rem;
    }

    p {
        margin: 0;
    }
}