.about-section-1__grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
    padding: 12rem 0 4rem;
    position: relative;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 8rem 0 4rem;
    }
}

// Headline (Left)
.about-section-1__headline {
    grid-column: 2 / 5;
    grid-row: 1;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    @include media-breakpoint-up(lg) {
        align-items: flex-end;
        display: flex;
    }

    h1 {
        margin: 0;
    }
}

// Small Image (Bottom Left)
.about-section-1__small-image {
    grid-column: 3;
    grid-row: 2;
    aspect-ratio: 3 / 5;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    @include media-breakpoint-up(lg) {
        align-self: center;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Big Image (Right)
.about-section-1__big-image {
    grid-column: 7 / 13;
    grid-row: 1 / 3;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}