.accordion-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.accordion-contact-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.accordion-contact-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.accordion-contact-card-body .contact-element:hover {
  text-decoration: underline;
}

.contact-image-wrapper picture {
  width: 100%;
  height: 0;
  padding-top: 133.3333%;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  display: block;

  @include media-breakpoint-up(sm) {
    width: 30rem;
  }
}

.contact-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.job-title {
  font-weight: bold;
  font-style: italic;
}

h4 {
  margin-bottom: 24px;
}

@media (max-width: 576px) {
  .contact-card {
    width: 100%;
  }

  .accordion-contact-card {
    flex-direction: column;
  }
}