.body-text {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        margin-bottom: 2rem;
    }
}

.body-text-wrapper {
    display: flex;
    width: 100%;
}

.align-left {
    align-items: start;
}

.align-middle {
    align-items: center;
}