.category-cards-h2 {
    margin-bottom: 32px;

    @include media-breakpoint-up(md) {
        margin-bottom: 16px;
    }
}

.card {
    border: none;
    background-color: #17500C;
}

.card-img-top {
    height: 380px;
    object-fit: cover;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.card-img-top:hover {
    opacity: 0;
}

.card .card-icon {
    filter: invert(1);
    width: 60%;
    height: auto;
    max-height: 80%;
    opacity: 0;
    transition: opacity 0.25s ease;
    z-index: 2;
    pointer-events: none;
}

.card-body {
    pointer-events: none;
    z-index: 2;
    position: relative;
}

.bi-arrow-right {
    font-size: 20px;
    margin-left: 10px;
    display: inline-block;
    transition: transform 0.3s ease;
    z-index: 3;
}

.card:hover .bi-arrow-right {
    transform: translateX(10px);
}

.card:hover .card-icon {
    opacity: 1;
}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
    pointer-events: none;
}