.cta-image-h2 {
  margin-bottom: 0;
}

.cta-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    border-radius: 0 !important;
  }
}

.cta-image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45) 50%, transparent 100%);
  z-index: 1;
}

.cta-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 16px;
  z-index: 2;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: end;
  }
}

.cta-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cta-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.size-large {
  height: 1000px;

  @include media-breakpoint-down(md) {
    height: 90vh;
  }
}

.size-small {
  height: 300px;
}

.cta-content .btn {
  @include media-breakpoint-down(md) {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}

.container-full {
  @include media-breakpoint-down(md) {
    margin: 0;
    width: 100%;
  }
}