.download-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 0.5px solid #4f1e2733;
    padding-bottom: 24px;
    justify-content: space-between;
    gap: 2.4rem;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: end;
    }
}

section.space-after_small {
    margin-bottom: 2rem;
}