.hero-gallery-mouse-position {
    height: calc(100dvh - 15rem);
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        height: calc(100vh - 25rem);
    }
}

.hero_gallery_mouse_position {
    position: relative;

    @include media-breakpoint-down(lg) {
        margin-bottom: 0;
    }
}

.hero_gallery_mouse_position h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.gallery-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    aspect-ratio: 10/7;
    z-index: 1;
    pointer-events: none;

    @include media-breakpoint-down(lg) {
        height: auto;
        width: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    // Active state (controlled by JavaScript)
    &.is-active {
        z-index: 2;
    }
}

.hero-gallery-mouse-position:not(.is-loaded) .gallery-item:first-of-type {
    z-index: 2;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}