.hero-single {
    position: relative;
    display: flex;
    align-items: end;
}

.hero-single-content {
    z-index: 2;
    padding: 0 2rem;
    margin-bottom: 1rem;

    .description {
        margin-bottom: 0;
    }
}

.hero-picture,
.hero-picture img,
.hero-media video {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}

.hero-media:before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.hero-single.hero-single-half-height {
    height: 50vh;
}

.hero-single.hero-single-full-height {
    height: 100vh;
}

.hero-single .splide__pagination {
    bottom: 2rem;
}

.hero-single .btn {
    @include media-breakpoint-down(md) {
        margin-top: 24px;
        margin-bottom: 8px;
    }
}