.hero-gallery-mouse-position {
    height: calc(100vh - 25rem);
    overflow: hidden;
}

.hero_gallery_mouse_position {
    position: relative;
}

.hero_gallery_mouse_position h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 10;
}

.gallery-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    //transition: opacity 0.3s ease-in-out;
    pointer-events: none;

    // Active state (controlled by JavaScript)
    &.is-active {
        opacity: 1;
    }
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}