.info-box-selection {
    margin-bottom: 5rem;
}

.info-box-buttons {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    flex-wrap: wrap;
}

.info-box-btn {
    &.active {
        background-color: $primary;
        color: white;
    }
}

.info-box-panel {
    display: none;

    &.active {
        display: block;
    }
}

.info-box-text {
    margin-bottom: 5rem;
}

.info-box-images {
    padding: 0 1rem;
}

.info-box-image {
    margin-bottom: 1rem;
    padding: 0 0.5rem;
}

.info-box-image picture {
    position: relative;
    width: 100%;
    display: block;
    height: 0;
    padding-top: 100%;
}

.info-box-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}