.project-one-big-image__grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.project-one-big-image__image {
    grid-column: 3 / 9;
    aspect-ratio: 1 / 1;

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}