.project-hero-small-left {
    margin-bottom: 4rem;

    @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        padding-top: 20rem;
        padding-right: 6%;
        margin-bottom: 0;
    }
}

.project-hero-small-left-text {
    @include media-breakpoint-up(lg) {
        padding-left: 20%;
    }
}

.project-hero-small-left-text h1 {
    word-spacing: 100vw;

    @include media-breakpoint-up(lg) {
        margin-bottom: 4rem;
    }
}

.project-hero-small-left-image {
    width: 100%;
    display: flex;
    gap: 2rem;
}

.project-hero-small-img {
    width: 20%;

    &:last-child {
        margin-left: auto;
    }
}

.project-hero-small-left-image picture {
    padding-top: 150%;
}

.project-hero-small-right picture {
    padding-top: 160%;
}