.project-related-next {
    display: flex;
    justify-content: end;
    margin-bottom: 4rem;
}

.project-related-work__next-link {
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: gap 0.3s ease;

    &:hover {
        gap: 1rem;
    }

    h4 {
        margin: 0;
        padding-top: 0.5rem;
    }
}

.project-related-work {
    padding: 4rem 2rem;
    background-color: $secondary;
    margin-bottom: 0;

    @include media-breakpoint-up(lg) {
        padding: 4rem 0;
    }
}

.project-related-work__nav {
    padding: 3rem 0;

    @include media-breakpoint-up(lg) {
        padding: 8rem 0;
    }
}

.project-related-work__title {
    text-align: center;
    margin-bottom: 3rem;

    @include media-breakpoint-up(lg) {
        padding-top: 4rem;
        margin-bottom: 12rem;
    }
}

.project-related-work__content {
    align-items: center;
}

.project-related-work__item {
    &--empty {
        visibility: hidden;
    }
}

.project-related-work__text-wrapper {
    @include media-breakpoint-down(md) {
        order: -1;
        margin-top: 3rem;
    }
}

.project-related-work__link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: opacity 0.3s ease;
}

.project-related-work__image {
    width: 100%;
    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    background-color: #d3d3d3;
    margin-bottom: 1rem;
    position: relative;
}

.project-related-work__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.project-related-work__meta {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
}

.project-related-work__project-title {
    margin: 0;
}

.project-related-work__type {
    white-space: nowrap;
}

.project-related-work__tagline {
    text-align: center;
    padding: 0 2rem;

    @media (max-width: 768px) {
        order: -1;
    }
}