.service-section-3__grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
    padding: 4rem 0;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}

// Image (Left)
.service-section-3__image {
    grid-column: 2 / 5;

    @include media-breakpoint-up(lg) {
        margin-top: 20rem;
    }

    @include media-breakpoint-down(md) {
        grid-column: 1;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 4;
    }
}

// Content Column (Right)
.service-section-3__content {
    grid-column: 6 / 10;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include media-breakpoint-down(md) {
        grid-column: 1;
        gap: 2rem;
    }
}

// Service Taxonomy
.service-section-3__service {
    h2 {
        margin: 0;
    }
}

// Text Content
.service-section-3__text {
    p {
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.service-section-3__link {
    @include media-breakpoint-up(lg) {
        align-self: flex-end;
    }
}

// Moodtext
.service-section-3__moodtext {


    @include media-breakpoint-up(lg) {
        margin: 10rem 0 10rem;
    }
}