.sticky-d {
    position: relative;
    pointer-events: none;
}

.sticky-d-logo {
    position: absolute;
    top: 0;
    left: 0;

    @include media-breakpoint-down(lg) {
        display: none;
    }

    // When fixed at 75px from top
    &.is-fixed {
        @include media-breakpoint-up(lg) {

            position: fixed;
            top: 75px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
        }
    }

    a {
        pointer-events: all;
        cursor: pointer;
    }

    svg {
        width: 80px;
        height: auto;

        @include media-breakpoint-down(lg) {
            width: 8%;
            height: auto;
        }
    }
}

.sticky-d-text {
    position: relative;
    top: 0;
    left: 12rem;
    width: 50%;

    @include media-breakpoint-down(lg) {
        left: auto;
        width: auto;
    }
}

.sticky-d-text h1 {
    line-height: 4.7rem;

    @include media-breakpoint-down(lg) {
        line-height: 1em;
    }
}