.timeline-image-wrapper {
    position: sticky;
    top: 25%;
    height: fit-content;
    margin-bottom: 3rem;
}

.timeline-image picture {
    width: 100%;
    height: 0;
    padding-top: 85%;
    position: relative;
    display: block;
}

.timeline-image picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.timeline-item h3 {
    margin-bottom: 3rem;
}

.timeline-item {
    position: relative;
}

.timeline-item:before {
    content: "";
    position: absolute;
    top: 0.3rem;
    left: -5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $dark-red;

    @include media-breakpoint-up(md) {
        top: 0.4rem;
    }
}

.timeline-text {
    position: relative;
    padding-left: 7rem;

    &:before {
        content: "";
        position: absolute;
        top: 1rem;
        left: 3rem;
        width: 1px;
        height: calc(100% - 4rem);
        background-color: $dark-red;
    }
}

.timeline-textpart {
    margin-bottom: 3rem;
}